*.class
*.jar
/.nrepl-port
/.calva/repl.calva-repl
/.clj-kondo/.cache
/.env
/.lein-*
/.lsp/.cache
/.shadow-cljs
/checkouts
/classes
/lib
/log
/node_modules
/target
dev-config.edn
pom.xml
profiles.clj
test-config.edn

/db-dumps/*
!/db-dumps/*.sh
/db-dumps/2023
/data/*
!/data/.keep
